* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(graphic/garden_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-sizing: border-box;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 40vw;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.2fr;
    grid-template-areas:
        "tittlePage tittlePage"
        "element1 element2"
        "element3 element4";
    row-gap: 1.0rem;
    column-gap: 1.0rem;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.container__tittlePage {
    background: none;
    font-size: 50px;
    text-align: center;
    grid-area: tittlePage;
}

.element1 {
    grid-area: element1;
}

.element2 {
    grid-area: element2;
}

.element3 {
    grid-area: element3;
}

.element4 {
    grid-area: element4;
}

.farmerOption {
    display: inline-block;
    padding: 1.5em 1.6em;
    border: 0.3em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: none;
    text-align: center;
    opacity: 0;
}

.farmerOption p {
    margin-bottom: 0.4em;
}

.farmerOption:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.farmerOption--show {
    opacity: 1;
}

@media all and (max-width:30em) {
    .farmerOption {
        display: block;
        margin: 0.4em auto;
    }
}

@media only screen and (max-width:550px) {
    .container {
        width: 70vh;
        height: 130vh;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.3fr 0.02fr 0.02fr 0.02fr 0.02fr;
        grid-template-areas:
            "tittlePage"
            "element1"
            "element2"
            "element3"
            "element4";
        row-gap: 0.4rem;
        column-gap: 1.0rem;
        margin-top: 0.6%;
    }

    .farmerOption {
        padding: 1em 1em;
    }
}