.container {

    display: grid;
    width: 80vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas:
        "tittlePage tittlePage"
        "product1 chart"
        "product2 chart"
        "product3 chart"
        "product4 chart"
        "product5 chart";
    row-gap: 1.0rem;
    column-gap: 1.0rem;
    /* border: 0.3em solid #000000; */
    padding: 5% 5%;
    margin-top: 0.2%;
}


.container__tittlePage {
    background: none;
    font-size: 20px;
    /* text-align: center; */
    grid-area: tittlePage;
    border: 0.3em solid #000000;
}

.container__tittlePage p {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


.element1 {
    grid-area: product1;

}

.element2 {
    grid-area: product2;

}

.element3 {
    grid-area: product3;

}

.element4 {
    grid-area: product4;

}

.element5 {
    grid-area: product5;

}

.chartElement {
    grid-area: chart;

}

.farmerOption {
    display: inline-block;
    border: 0.3em solid #000000;
    border-radius: 0.5em;
    /* padding: 1.5em 1.6em;
    border: 0.3em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: none;
    text-align: center;
    opacity: 0; */
}