* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    background-image: url(graphic/garden_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.container {
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    justify-items: center;

    grid-template-areas:
        "tittleSubPage tittleSubPage"
        "animalsOption chart"
        "plantsOption chart"
        "fruitOption chart";
    row-gap: 10px;
    padding-top: 3%;

    /* border: solid red; */
}

.element1 {
    background: none;
    font-size: 30px;
    text-align: center;
    grid-area: tittleSubPage;
}


.element2 {
    grid-area: animalsOption;
}

.element3 {
    grid-area: plantsOption;
}

.element4 {
    grid-area: fruitOption;
}

.element5 {
    grid-area: chart;
}


.farmerOption {
    display: inline-block;
    padding: 1.5em 1.6em;
    border: 0.3em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: none;
    text-align: center;
}