* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(graphic/garden_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 0.3fr;
    justify-items: center;

    grid-template-areas:
        "tittleSubPage"
        "chart"
        "back";
}

.element1 {
    margin-top: 5%;
    background: none;
    font-size: 30px;
    text-align: center;
    grid-area: tittleSubPage;
}

.element2 {
    grid-area: chart;
}

canvas {
    border: 1px solid black;
    background-color: rgba(142, 143, 72, 0.712);
}

.element3 {

    grid-area: back;
    border: 0.3em solid #000000;
    border-radius: 1.5em;
    margin-bottom: 5%;
}

}