* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    background-image: url(graphic/garden_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;

    grid-template-areas:
        "tittleSubPage"
        "chart"
        "back";
    row-gap: 10px;
    padding-top: 3%;

}

.element1 {
    background: none;
    font-size: 30px;
    text-align: center;
    grid-area: tittleSubPage;
}

.element2 {
    grid-area: chart;
}

.element3 {
    grid-area: back;
}