* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(graphic/garden_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    /* height: 100%; */
}


.container {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 70vh;
    height: 70vh;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 0.2fr 0.2fr;

    grid-template-areas:
        "tittlePage tittlePage"
        "element1 element2"
        "element3 element4";

    row-gap: 1.0rem;
    column-gap: 1.0rem;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

}

.container__tittlePage {
    background: none;
    font-size: 30px;
    text-align: center;
    grid-area: tittlePage;
}

.element1 {
    /* background-color: yellow; */
    grid-area: element1;
}

.element2 {
    /* background-color: rgb(20, 196, 240); */
    grid-area: element2;
}

.element3 {
    /* background-color: rgb(20, 240, 20); */
    grid-area: element3;
}

.element4 {
    /* background-color: rgb(240, 53, 20); */
    grid-area: element4;
}



.element1 {
    display: inline-block;
    padding: 1.5em 1.6em;
    border: 0.3em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: none;
    text-align: center;
    transition: all 0.15s;
    opacity: 0;
    transition: opacity 3s;
}

.element1 p {
    margin-bottom: 0.4em;
}


.element1:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.element1--show {
    /* display: inline-block; */
    opacity: 1;
    /* transition: opacity 1s; */
}


@media all and (max-width:30em) {
    .element1 {
        display: block;
        margin: 0.4em auto;
    }
}



.element2 {
    display: inline-block;
    padding: 1.5em 1.6em;
    border: 0.3em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: none;
    text-align: center;
    transition: all 0.15s;
}


.element2 p {
    margin-bottom: 0.4em;
}


.element2:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

@media all and (max-width:30em) {
    .element2 {
        display: block;
        margin: 0.4em auto;
    }
}


.element3 {
    display: block;
    padding: 1.5em 1.6em;
    border: 0.3em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: none;
    text-align: center;
    transition: all 0.15s;
}


.element3 p {
    margin-bottom: 1.2em;
}


.element3:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

@media all and (max-width:30em) {
    .element3 {
        display: block;
        margin: 0.4em auto;
    }
}


.element4 {
    display: inline-block;
    padding: 1.5em 1.6em;
    border: 0.3em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 1.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: none;
    text-align: center;
    transition: all 0.15s;
}


.element4 p {
    margin-bottom: 0.6em;
}


.element4:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #FFFFFF;
    border-color: #FFFFFF;
}

@media all and (max-width:30em) {
    .element4 {
        display: block;
        margin: 0.4em auto;
    }
}




@media only screen and (max-width:550px) {
    .container {
        width: 70vh;
        height: 95vh;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.3fr 0.02fr 0.02fr 0.02fr 0.02fr;
        grid-template-areas:
            "tittlePage"
            "element1"
            "element2"
            "element3"
            "element4";

        row-gap: 0.4rem;
        column-gap: 1.0rem;
        margin-top: 0.6%;
    }


    .element1 {
        padding: 1em 1em;
    }

    .element2 {
        padding: 1em 1em;
    }

    .element3 {
        padding: 1em 1em;
    }

    .element4 {
        padding: 1em 1em;
    }

}